@font-face{
    src: url(web/SanamDeklen_chaya/SanamDeklen_chaya.ttf);
    font-family: dee ;
}
body{
    background-image: url(/web/folder/yourname.png);
}
h1 {
    font-size: 10mm;
    font-family: "dee";
    color: rgb(0, 0, 0);
}

h2{
    font-size: 7.5mm;
    font-family: "dee";
    color: rgb(0, 0, 0);
    margin-left: 40px;
}
h3{
    font-size: 6mm;
    font-family: "dee";
    color: rgb(0, 0, 0);
    margin-left: 40px;
}

